<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeAliases>
    <typeAlias type="study.vo.Test01" alias="Test01"/>
    <typeAlias type="study.vo.Test02" alias="Test02"/>
  </typeAliases>

  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/java72db"/>
        <property name="username" value="java72"/>
        <property name="password" value="java72"/>
      </dataSource>
    </environment>
  </environments>
  
  <mappers>
    <mapper resource="study/dao/TestDao.xml"/>
  </mappers>
</configuration>
















